.ui-btn {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  color: #ccc;

  &.ui-btn-clicked {
  }

  &.ui-btn-disable {
  }

  &.ui-btn-box {
    height: auto;
    line-height: 1.1;
  }

  &.ui-btn-block {
    display: block;
    padding: 0;
  }

  &.ui-btn-border {
    padding: 0 0.1rem;
    border: 1px solid #000;
    border-radius: 0.16rem;
  }
}
