.ui-btn {
	color: #ccc;
	padding: 10px;
	font-size: 14px;
	display: inline-block;
	position: relative;
	outline: none;
	background: transparent;
	border: none;

	&.ui-btn-clicked {
	}

	&.ui-btn-disable {
	}

	&.ui-btn-box {
		height: auto;
		line-height: 1.1;
	}

	&.ui-btn-block {
		display: block;
		padding: 0;
	}

	&.ui-btn-border {
		padding: 0 0.1rem;
		border: 1px solid #000;
		border-radius: 0.16rem;
	}
}
